.container {
	padding-top: 100px;
}
.container-fluid{
	background-color: #3a1ed8;
    border-color: #000000;
  
    >li {
    	>a{ 
    		&:hover &:focus {
    			background-color: #3a1eFF;
    		}	
	    }
	}
}
.nav.navbar-nav.navbar-left li a{
	color: white;
	font-size: 17px;
	&:hover{
		background-color: #3a1eFF;
	}

}